/* navbar*/
.navbar {
    padding: 0%;
    margin: 0;
}
.phone_number {
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 60px;
    font-size: small;
    margin-top: 10px;
    
}

.email_address {
    float: right;
    margin-right: 60px;
    margin-top: 10px;
}

#mail {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration-line: none;
    color: black;
    font-size: small;
}

#mail:hover {
    transition-duration: 0.01ms;
    color: #27527B;
}

#navbar {
    height: 80px;
    background-color: #3D3D3D;
    border-radius: 0;
    opacity: 70%;
    
}

li {
    margin-left: 100px;
}

.nav-link {
    color: #D0E026;
}

/* services*/
#services_header {
    text-align: center;
    opacity: 40%;
}

#carousel-id {
    padding-top: 0px;
}

/* media query */
@media (min-width: 767px) {
    #toggler {
      display: none;
      float: right;
    }
}